<div data-role="layout" class="w-full <%= css %>">
  <div data-role="layout-body">
    <div data-role="layout-content">
      <% items.each do |item| %>
        <%= item %>
      <% end %>
    </div>

    <% if submit || action %>
      <div data-role="layout-footer">
        <%= action %>
        <%= submit %>
      </div>
    <% end %>
  </div>
</div>
