<div class="space-y-12">
  <% items.each do |item| %>
    <%= item %>
  <% end %>

  <% if submit || action %>
    <div class="mt-6 flex items-center justify-end gap-x-6">
      <%= action %>
      <%= submit %>
    </div>
  <% end %>
</div>
